.msg-error {
  color: red
}

.msg-prompt {
  color: green
}

.inline {
  display: inline
}

.margin-right {
  margin-right:10px !important;
}

#iconTrash {
  color: red;
  margin: 5px;
}

#iconPencil {
  color: blue;
  margin: 5px;
}